body {
font-family: space mono ;
}

h1 {
    font-size: 5.5rem;
}


.events{
    font-size: 80px;
    color: white;
    background-color: red;
    width: max-content;
}

.card-deck {
    flex-flow: row wrap;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 40px;
}
.container {
    max-width: 90%;
}
.card-title {
    margin-bottom: .75rem;
    position: absolute;
    top: 45px;
    transform: rotate(-12deg);
    background: white;
    color: red;
}
.card-text.dateEvent {
    position: absolute;
    top: 31%;
    right: 12px;
}